input[type=text] {
  width: 60px;
  height: 25px;
}

input[type=number] {
  width: 60px;
  height: 25px;
}

select{
  width: 60px;
  height: 25px;
}

p {
    padding-bottom: 5px;
   }
   
table {
  border-collapse: collapse;
  border: 3px solid black;
}

tr, td{
	height: 50px;
}

#vnesti_dannie_v_bd, #proverka_platejesposobnosti, #vnesti_v_chspisok {
  background: yellow;
  border-radius: 25px;
}

.error{
	color: red;
    font-size:14px;
    font-weight: bold;
	margin-left: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }


  .title_lk {
      text-align: center;
      font-style: normal;
      text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .title_lk h1{
    background: linear-gradient(to left, white, rgba(246, 255, 0, 0.438),white );
  }

  h1{
    font-weight: bold;
  }

  .lk_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  }

  .lk_but {
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
      border: 2px solid white;
      font-size: 25px;
  }

  .lk_but:hover {
    background-color: yellow;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: background 300ms;
  }
  
  input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

#vnesti_dannie_v_bd{
	font-weight: bold;
}