body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .title_lk {
    font-size: 300%;
    text-align: center;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.title_lk h1{
  background: linear-gradient(to left, white, rgba(246, 255, 0, 0.438),white );
}


input[type="checkbox"] {
  display: none;
}

h1, h3{
  font-weight: bold;
}

/* для красоты чекбоксов ;D */

.check_lk label {
  color: rgb(0, 0, 0);
  cursor: default;
  font-weight: normal;
  vertical-align: middle;
}

.check_lk label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/30px Arial;
  margin-right: 15px;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: rgba(246, 255, 0, 0.197);
  border: 2px solid #0000005a;
  border-image: initial;
  vertical-align: middle;
}

#checkbox-id-1, #checkbox-id-2, #checkbox-id-3, 
#checkbox-id-4, #checkbox-id-5, 
input:checked + label:before {
  content: url("img/checkmark.png");
}

/* кнопочки "добавить" */

.add-button {
  border: 2px solid transparent;
  font: inherit;
  background-color: transparent;
  color: #2CAED7;
}

.add-button:hover{
  border-bottom: 2px solid #2CAED7;
}

/* кнопочки "удалить" */

.delete-button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  color: #D72C2C;
  position: static
}

.delete-button:hover{
  border-bottom: 2px solid #D72C2C;
  font: inherit;
  color: inherit;
  background-color: transparent;
  color: #D72C2C;
}

/* кнопки "добавить" и "удалить" до взаимодействия с модальными окнами */

#add-button-4 {
  display: block;
}

#add-button-3 {
  display: none;
}

#delete-button-3 {
  display: none;
}

#add-button-5 {
  display: none;
}

#delete-button-5 {
  display: none;
} 

/* фон во время открытых модальных окон */

#wrapper_snils, 
#wrapper_criminal, 
#wrapper_ndfl {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
}

/* контент в модальных окнах */

  .modal_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); 
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 20px;
    z-index: 1;
    color: rgb(0, 0, 0);
  }
  
  #main_ndfl,
  #main_snils,
  #main_criminal {
    position: relative;
    padding: 10%;  
  }

  /* кнопки "подтвердить" в модальных окнах */

  #submit_button_1, 
  #submit_button_2, 
  #submit_button_3 {
    margin-top:10%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 2px solid red;
    color: rgb(0, 0, 0);
    border-radius: 5px;
  }

  #submit_button_1:hover, 
  #submit_button_2:hover, 
  #submit_button_3:hover {
    margin-top:10%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    font: inherit;
    color: inherit;
    background-color: rgba(255, 238, 0, 0.548);
    border: 2px solid red;
    color: rgb(0, 0, 0);  
  }


  /* кнопка Х */
  
  #close_1, 
  #close_2, 
  #close_3{
    float: right;
    cursor: pointer;
    margin-right: 4%;
  }
  
  .knopkaX {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
  }
  .knopkaX:before {
    content: '+';
    color: red;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .knopkaX:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgba(255, 238, 0, 0.548);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }
  .knopkaX:hover:after {
    transform: scale(1);
  }
  .knopkaX:hover:before {
    transform: scale(0.8) rotate(45deg);
    color:  red;
  }
  