  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .title_lk {
      text-align: center;
      font-style: normal;
      text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .title_lk h1{
    background: linear-gradient(to left, white, rgba(246, 255, 0, 0.438),white );
  }

  h1, h3, h4{
    font-weight: bold;
  }

  h4{
    text-shadow: 0px 4px 4px rgba(255, 242, 3, 0.25);
  }

  .message textarea {
    height: 200px;
  }

  @media (min-width: 0px) and (max-width: 485px) {
    .text_size{
      font-size: 8px;
    }
  }

  @media (min-width: 485.10px) and (max-width: 575.90px) {
    .text_size{
      font-size: 10px;
    }
  }
