
.first_credit h3, .second_credit h3, .third_credit h3 {
font-size: 250%;
padding-top: 5%;
padding-left: 2%;
padding-right: 10%;
width: 112%;
font-family: serif;
float: left;

border-radius: 20px 0 20px 20px;
background: linear-gradient(180deg, rgba(243, 253, 0, 0.5) 0%, rgba(243, 253, 0, 0) 100%);
}
.text1 {
font-size: 70px;
color: #000000;
} 
.creditka_img {
position: absolute;
padding-left: 2.51%;
}
.text1_1 {
font-size: 40px;
padding-left: 10%;
padding-top: 3%;
color: #000000;
position: absolute;
font-family: serif;
font-style: normal;
font-weight: 500;
}
.text1_2 {
position: absolute; 
font-size: 36px;
font-family: cursive;
margin-top: 6%;
margin-left: 36%;
color: #f4d8f9;
text-align: center;
align-items: center;
}    




.second_credit {
padding-top: 5%;
}
.second_credit h3 {
padding-left: 20%;
padding-top: 2.5%;
}
.text2_1 {
font-size: 40px;
padding-left: 3%;
padding-top: 0;
color: #000000;
position: absolute;
font-family: serif;
font-style: normal;
font-weight: 500;
}
.text2_2 {
position: absolute; 
font-size: 36px;
font-family: cursive;
margin-top: 5%;
margin-left: 25%;
color: #270fbd;
text-align: center;
align-items: center;
}
.creditka_img_2 {
padding-left: 0;
position: absolute;
width: 135%;
}




.third_credit {
padding-top: 5%;
}
.text3_1 {
padding-right: 0;
font-size: 40px;
padding-left: 3%;
padding-top: 5%;
color: #000000;
position: absolute;
font-family: serif;
font-style: normal;
font-weight: 500;
}
.trebovaniya {
padding-top: 1%;
}
.creditka_img_3 {
position: absolute;
padding-left: 2%;
}




@media (max-width: 1200px) {
    .first_credit h3, .second_credit h3, .third_credit h3 {
        font-size: 250%;
        padding-top: 5%;
        padding-left: 2%;
        padding-right: 10%;
        width: 112%;
        font-family: serif;
        float: left;
        
        border-radius: 20px 0 20px 20px;
        background: linear-gradient(180deg, rgba(243, 253, 0, 0.5) 0%, rgba(243, 253, 0, 0) 100%);
        }
}