html, body {
    height: 100%;
}

.title {
    font-size: 50px;
}
.fields {
    align-items: center;
}
.btn_continue {
    color: black;
    background-color: yellow;
    border-radius: 50px;
    width: 60%;
    text-align: center;
}